body {
	background-color:#eee;
}
#container {
	width:980px;
	margin:0 auto;
}
#nav a:hover {
	color:green;
	
}
#nav ul li {
	display:inline;
	
	
}
nav, ul, li , a, h1,h2,h3,h4 {
	text-decoration:none;
	font:"Arial Black", Gadget, sans-serif;
}
#contact{
	width:170px;
	margin:0 auto;
	padding:20px;
	
}